header {
  width: 100vw;
  min-height: 10vh;
  display: block;
  margin: -8px;
  font-family: "Rubik", sans-serif;
}

.inner-header {
  width: 75%;
  height: 10vh;
  display: block;
  margin: 0 auto;
}

.logo-container {
  min-height: 100%;
  display: table;
  float: left;

  h1 {
    min-height: 100%;
    display: table-cell;
    vertical-align: middle;
    font-size: 2rem;
    font-weight: bold;

    span {
      font-weight: 200;
    }
  }
}

.navigation {
  float: right;
  height: 10vh;
  margin: 0;

  a {
    padding: 10px;
  }

  a:hover {
    outline: solid;
    opacity: 0.75;
    transition: all 0.05s;
  }

  li {
    display: table-cell;
    font-size: 1rem;
  }
}

.choice {
  height: 10vh;
  display: table-cell;
  vertical-align: middle;
  font-size: 1rem;
  padding: 0 15px;
}

.lg-view {
  display: table-cell !important;
}

.sm-view {
  display: none !important;
}

@media only screen and (max-width: 1200px) {
  .choice {
    padding: 0;
  }

  .lg-view {
    display: none !important;
  }

  .sm-view {
    display: table-cell !important;
  }
}
