<header>
  <div class="inner-header">
    <div class="logo-container">
      <h1>
        {{ logo.bold }}<span>{{ logo.text }}</span>
      </h1>
    </div>
    <ul class="navigation">
      <div class="choice">
        <a
          href="https://github.com/awhumayun/randomquranverse.github.io"
          target="blank"
          ><li>Code</li></a
        >
      </div>
      <div class="choice">
        <a href="https://alquran.cloud/" target="blank"><li>API</li></a>
      </div>
      <div class="choice">
        <a href="https://quran.com/" target="blank"><li>Quran</li></a>
      </div>
      <div class="choice" *ngIf="!isOnMobile">
        <app-dark-mode-toggle></app-dark-mode-toggle>
      </div>
    </ul>
  </div>
</header>
