<header>
    <div class="inner-header">
        <div class="logo-container">
            <h1>Random<span> Quran Verse</span></h1>
        </div>
        <ul class="navigation">
            <div class="choice">
                <a href="https://github.com/awhumayun/randomquranverse.github.io" target="blank"><li>Code</li></a>
            </div>
            <div class="choice">
                <a href="https://github.com/awhumayun" target="blank"><li>My GitHub</li></a>
            </div>
        </ul>
    </div>
</header>
