header {
  width: 100%;
  min-height: 10vh;
  display: block;
  font-family: "Rubik", sans-serif;
}

.inner-header {
  width: 75%;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo-container h1 {
  font-size: 2rem;
  font-weight: bold;
  margin: 0;
}

.logo-container h1 span {
  font-weight: 200;
}

.navigation {
  display: flex;
  align-items: center;
}

.navigation a {
  padding: 10px;
  text-decoration: none;
  color: inherit;
}

.navigation a:hover {
  outline: solid;
  opacity: 0.75;
  transition: opacity 0.3s;
}

.navigation li {
  display: inline-block;
  font-size: 1rem;
}

.choice {
  display: flex;
  align-items: center;
  font-size: 1rem;
  padding: 0 15px;
}

.lg-view {
  display: flex;
}

.sm-view {
  display: none;
}

@media only screen and (max-width: 1200px) {
  .choice {
    padding: 0;
  }

  .lg-view {
    display: none;
  }

  .sm-view {
    display: flex;
  }
}
