* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

body {
    min-height: 90vh;
    margin: 8px -8px -8px -8px;
}

.text-container {
    padding: 2.5% 10%;
    text-align: center;
    font-size: 2.5rem;
    min-height: 65vh;

    .translation {
        margin-top: 2.5%;
        font-family: 'Source Sans Pro', sans-serif;
    }
}

.button-container {
    width: 100%;
    display: grid;
    justify-content: center;
    margin-bottom: 2.5%;
}

@media only screen and (max-width: 600px) {
    .text-container {
      font-size: 1.25rem;
    }
}
