<app-header></app-header>
<main>
  <section class="text-container" [@fade]="isNew ? 'out' : 'in'">
    <p *ngIf="verseText">{{ verseText }}</p>
    <div class="translation-wrapper" *ngIf="translationText">
      <p class="translation">
        {{ translationText }}
      </p>
      <a
        [attr.href]="verseLink"
        target="_blank"
        class="external-link"
        aria-label="External link"
      >
        <fa-icon [icon]="faArrowUpRightFromSquare"></fa-icon>
      </a>
    </div>
  </section>
  <section class="button-container">
    <app-random-verse-button
      [disabled]="isNew"
      (buttonClicked)="getRandomVerse()"
    ></app-random-verse-button>
  </section>
</main>
