@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap");

body.dark-mode {
  background-color: #1f1f1f;
  color: #dfe6e9;

  header {
    background-color: #303030;
  }

  a {
    color: #dfe6e9;
  }

  button {
    background-color: #333333;
    color: #dfe6e9;
  }
}

body.light-mode {
  background-color: #dfe6e9;
  color: #2d3436;

  header {
    background-color: #f0f0f0;
  }

  a {
    color: #2d3436;
  }
}

body:not(.dark-mode-preloading) {
  transition: all 0.3s linear;
}

button {
  padding: 15px 25px !important;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  font-family: "Source Sans Pro", sans-serif;
}

button:hover {
  opacity: 0.75;
}

button:active:enabled {
  filter: brightness(0.7);
  box-shadow: 0 5px #666;
  transform: translateY(4px);
  opacity: 1;
}

button:disabled {
  opacity: 0.25;
}
